.tv-card {
  background: #f2f2f2;
  height: 162px;
  border-radius: 8px;
  margin-bottom: 16px;
  justify-content: start;
}
.tv-card__img {
  text-align: center;
  width: 400px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}
.tv-card__body__title {
  margin-top: 21px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.tv-card__body__schedule {
  margin-top: 17px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.shedule__item {
  margin-top: 12px;
}
.shedule__text {
  word-break: break-word;
  margin-left: 21px;
}
