.scrollhost::-webkit-scrollbar {
  display: none;
}

.scrollhost-container {
  position: relative;
  height: 696px;
}
.scrollhost {
  overflow: auto;
  width: 1180px;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.scroll-bar {
  margin-left: 8px;
  width: 8px;
  height: 100%;
  right: 0;
  top: 0px;
  position: absolute;
  border-radius: 2px;
  bottom: 0px;
  background: #f2f2f2;
}

.scroll-thumb {
  width: 4px;
  height: 20px;
  margin-left: 2px;
  position: absolute;
  border-radius: 2px;
  opacity: 1;
  top: 0;
  background: #bdbdbd;
}
