@media only screen and (max-width: 1190px) {
  .tv-card__img {
    width: 200px;
  }
  .tv-page {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .scrollhost {
    width: 100%;
  }
  .header {
    justify-content: space-around;
  }
  .header__search {
    margin: 11px 0px 4px 30px;
  }
  .header__name {
    margin-left: 90px;
  }
  .header__name__input {
    margin-left: 80px;
  }

  .header__button {
    margin-left: 60px;
  }
  .footer__logo {
    margin-left: 40px;
  }
  .films__bar {
    justify-content: space-around;
  }
  .film-card {
    margin: 0;
  }
  .genre__bar {
    justify-content: space-around;
  }
  .genre-card {
    margin: 0;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 910px) {
  .header__name {
    margin-left: 0px;
  }
  .header__user {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
  }
  .title {
    justify-content: center;
  }
  .action-panel {
    padding-top: 30px;
    margin-top: 65px;
  }
  .footer__information-line {
    font-size: 14px;
  }
}
@media only screen and (max-width: 786px) {
  .footer__logo {
    display: none;
  }
  .footer__body {
    margin-left: 15px;
  }
  .header__button {
    margin-right: 60px;
    margin-top: 30px;
  }
  .tv-card {
    flex-direction: column;
    height: auto;
  }
  .tv-card__img {
    justify-content: start;
    padding-left: 15px;
  }
  .tv-card__body {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 619px) {
  .action-panel {
    margin-top: 120px;
  }
}
