.login {
  background: #ffffff;
  height: 394px;
  width: 304px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 0px;
  margin-top: 202px;
}
.login__form {
  margin-top: 36px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: right;
  color: #333333;
}
.input {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  width: 232px;
  height: 25px;
  margin-top: 19.6px;
  padding-bottom: 3.5px;
  border: none;
  border-bottom: 1px solid #333333;
  outline: none;
}
.input2 {
  margin-top: 24px;
  align-self: flex-start;
}
.login__form__button {
  cursor: pointer;
  width: 113px;
  height: 38px;
  margin-top: 84px;
}
.login__checkbox {
  margin-right: 131px;
  margin-top: 21px;
  position: relative;
}
.checkbox__label {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-left: 8px;
  vertical-align: middle;
}
input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label span {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 4px;
  vertical-align: middle;
  background: url('../../img/check-box.png') -19px top no-repeat;
  cursor: pointer;
}
input[type='checkbox']:checked + label span {
  background: url('../../img/check-box.png') 2px -5px no-repeat;
}

/* .checkbox__input {
  display: none;
}

.checkbox__label {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.checkbox__label:after {
  content: '';
  display: block;
  height: 14px;
  width: 14px;
  border: 1px solid #333333;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox__input:checked + .checkbox__label:after {
  content: '\2713';
  color: #e5261e;
  text-align: center;
  line-height: 16px;
}
 */
