.action-tab {
  
  margin-right: 24px;
  padding-bottom: 7px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: #333333;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: right;
  height: 33px;
}
.toggle {
  color: #e5261e;
  border-bottom: 2px solid red;
}
